<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/global.css" />
  <link rel="stylesheet" href="/css/message.css" />
  <link rel="stylesheet" href="/css/header.css" />
  <link rel="stylesheet" href="/css/home.css" />
  <title>Home</title>
</head>
<body>
  <%- include("partial/header.ejs") %>

  <main class="container">

    <div id="container-upload">
      <form id="upload-form" name="form">
        <label for="fileInput" id="labelFile">Enviar arquivo</label>
        <input type="file"  id="fileInput" name="fileInput" required>
      </form>
    </div>

    <ul id="content">
      <% if(files && files.length > 0) { %>
        <% files.map(file => { %>
          <li>
            <span id="filename-content"><%= file.fileName.split('.')[0] %></span>
            <span>.<%= file.fileName.split('.')[1] %></span> 
            <a href="<%= file.signedUrl %>">baixar</a>
          </li>
        <% }) %>
      <% } %>
    </ul>

    <div id="upload-progress--container">
      <div id="header-upload">
        <h3>Carregamento concluído</h3>
      </div>
      <ul id="sent-files--status">
        <li class="file-sending">
          <span class="filename">foto.jpg</span>
          <span class="current-status">concluído</span>
        </li>
      </ul>
    </div>

  <script type="module" src="/js/bundle.js" ></script>
  </main>
</body>
</html>