
<header id="header">
  <div id="header-left">
    <h1>DRIVE</h1>
  </div>
  <div id="header-right">
    <div id="menu-container">
      <h2 id="menu-btn"><%= user.name %></h2>
      <ul id="menu">
        <li><a href="/server/logout">logout</a></li>
      </ul>
    </div>
  </div>
</header>